[submodule "feng"]
	path = feng
	url = git://git.lscube.org/feng
[submodule "flux"]
	path = flux
	url = git://git.lscube.org/flux
[submodule "netembryo"]
	path = netembryo
	url = git://git.lscube.org/netembryo
[submodule "libnemesi"]
	path = libnemesi
	url = git://git.lscube.org/libnemesi
[submodule "pipes"]
	path = pipes
	url = git://git.lscube.org/pipes
[submodule "theater2"]
	path = theater2
	url = git://git.lscube.org/theater2
